# Base compose file production deployment of reflex app with Caddy webserver
# providing TLS termination and reverse proxying.
#
# See `compose.prod.yaml` for more robust and performant deployment option.
#
# During build and run, set environment DOMAIN pointing
# to publicly accessible domain where app will be hosted
services:
  app:
    environment:
      COMPRL_CONFIG_PATH: ${COMPRL_CONFIG_PATH:-/config/config-docker.toml}
    build:
      context: ..
      dockerfile: ./comprl-web-reflex/Dockerfile
    volumes:
      # mount config files, so we can change config without rebuilding the container
      - type: bind
        source: ../comprl-hockey-game
        target: /config
        bind:
          create_host_path: false
      - type: bind
        source: ${COMPRL_DATA_PATH:-/tmp/comprl-data}
        target: /comprl-data
        bind:
          create_host_path: true
    restart: always

  webserver:
    environment:
      DOMAIN: ${DOMAIN:-localhost}
      # Those data and config folders are already set in the container by default but
      # better let's be explicit, in case the defaults change.
      XDG_DATA_HOME: /data
      XDG_CONFIG_HOME: /config
    ports:
      - 443:443
      - 80:80 # For acme-challenge via HTTP.
    build:
      context: .
      dockerfile: Caddy.Dockerfile
      additional_contexts:
        app_image: "service:app"
    volumes:
      - caddy-data:/data/caddy
      - caddy-config:/config/caddy
    restart: always
    depends_on:
      - app

volumes:
  # TLS keys and certificates
  caddy-data:
  caddy-config:
