
services:
  game-server:
    image: comprl-hockey-game
    environment:
      # this refers to the path inside the container (see binding added below)
      COMPRL_CONFIG_PATH: /config.toml
    build:
      context: ..
      dockerfile: ./comprl-hockey-game/Dockerfile
    ports:
      - 65335:65335
    volumes:
      # mount config files, so we can change config without rebuilding the container
      - type: bind
        source: ${COMPRL_CONFIG_PATH:-./config-docker.toml}
        target: /config.toml
        read_only: true
        bind:
          create_host_path: false
      - type: bind
        source: ${COMPRL_DATA_PATH:-./}
        target: /comprl-data
        bind:
          create_host_path: true
    restart: always

  # TODO: Is there a way to configure the two bot instances without duplicating
  # everything?

  bot-agent-strong:
    image: comprl-hockey-bot
    environment:
      COMPRL_SERVER_URL: ${COMPRL_SERVER_URL:-game-server}
      COMPRL_SERVER_PORT: ${COMPRL_SERVER_PORT:-65335}
      COMPRL_ACCESS_TOKEN: ${STRONG_BOT_ACCESS_TOKEN}
      AGENT_TYPE: ${AGENT_TYPE:-strong}
    build:
      context: ..
      dockerfile: ./comprl-hockey-game/bot-agent.Dockerfile
    restart: always
    depends_on:
      - game-server

  bot-agent-weak:
    image: comprl-hockey-bot
    environment:
      COMPRL_SERVER_URL: ${COMPRL_SERVER_URL:-game-server}
      COMPRL_SERVER_PORT: ${COMPRL_SERVER_PORT:-65335}
      COMPRL_ACCESS_TOKEN: ${WEAK_BOT_ACCESS_TOKEN}
      AGENT_TYPE: ${AGENT_TYPE:-weak}
    build:
      context: ..
      dockerfile: ./comprl-hockey-game/bot-agent.Dockerfile
    restart: always
    depends_on:
      - game-server
