name: "Linters (comprl-web-reflex)"

# Run on pull requests and when merging to main branch
on:
  push:
    branches:
      - main
    paths:
      - "comprl-web-reflex/**"
  pull_request:
    paths:
      - "comprl-web-reflex/**"

defaults:
  run:
    working-directory: "comprl-web-reflex"

jobs:
  ruff-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install package and ruff
        run: |
          python -m pip install ruff
      # Include `--format=github` to enable automatic inline annotations.
      - name: Run Ruff
        run: ruff check --output-format=github .

  ruff-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install package and ruff
        run: |
          python -m pip install ruff
      - name: Run Ruff
        run: ruff format --diff .
